<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <!-- Bootstrap, CSS -->
    <div th:insert="@{imported_file}"></div>



    <!-- Title -->
    <title>Employees</title>
</head>


<body>
    <!-- Navigation Header -->
    <div th:insert="component/nav_header" />

    <div class="container-fluid root">
        <div class="row">
            <!-- Navgation Side-->

            <div class="col-sm-2 left-side bg-dark">

                <ul class="nav nav-pills flex-column">
                    <li class="nav-item mt-2">
                        <a class="nav-link text-white" th:href="@{/dashboard}">
                            <i class="fas fa-home"></i>

                            Dashboard <span class="sr-only"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/customer}">
                            <i class="fas fa-users"></i>

                            Customers
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active text-white" th:href="@{/product}">
                            <i class="fas fa-tshirt"></i>
                            Products
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Content -->
            <div class="col-sm right-side border">
                <div class="container-fluid">
                    <div class="row my-3 justify-content-between">

                        <div class="col-md-3">

                            <div>
                                <!--  Search Customer -->
                                <form id="search_form" th:action="@{/customer/search}" method="GET">
                                    <input type="text" name="searchName" placeholder=" Search customer">
                                </form>
                            </div>

                        </div>

                        <div class="col-md-4  text-right">
                            <!-- Add Customer Button -->
                            <a th:href="@{/product/form}" class="btn btn-primary btn-sm">
                                Add Customer
                            </a>

                        </div>

                    </div>
                </div>

                <!-- Table -->
                <div class="table-responsive">
                    <table class="table table-striped">
                        <!-- Table header -->
                        <thead>
                            <tr>
                                <th>
                                    Product Name
                                </th>
                                <th>
                                    Brand Name
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <!-- Table Body -->
                        <tbody>
                            <!-- Loop through customer list -->
                            <tr th:each=" product : ${productList}">
                                <td th:text="${product.productName}" />
                                <td th:text="${product.brandName}" />
                                <td th:text="${product.price}" />
                                <td>
                                    <!-- Pass id to url -->
                                    <a th:href="@{/product/delete(id=${product.id})}"
                                        class="btn btn-danger btn-sm text-white">Delete</a>
                                    <a th:href="@{/product/update(id=${product.id})}"
                                        class="btn btn-secondary btn-sm text-white">Edit</a>
                                </td>
                            </tr>


                        </tbody>

                    </table>

                </div>

            </div>
        </div>





    </div>



    <script>

    </script>


</body>

</html>