body {
  background: url(https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

form{
    background: #fff;
    padding: 1em;
  max-width: 400px;
  margin: 150px auto 0 auto ;
  box-shadow: 0 0 1em #222;
  border-radius: 2px;

}

.btn-primary{
    background: #8075cc
}
