body {
  background: url(http://eskipaper.com/images/mountain-landscape-2.jpg);
}

form{
    background: #fff;
    padding: 1em;
  max-width: 400px;
  margin: 150px auto 0 auto ;
  box-shadow: 0 0 1em #222;
  border-radius: 2px;

}

.btn-primary{
    background: #8075cc
}
	