<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/employee.css}">






    <!-- Title -->
    <title>Employees</title>
</head>


<body>
    <!-- Navigation Header -->
    <div th:insert="component/nav_header" />

    <div class="container-fluid root">
        <div class="row">
            <!-- Navgation Side-->

            <div class="col-sm-2 left-side border">
                <div th:insert="component/nav_side" />
            </div>
            <!-- Content -->
            <div class="col-sm right-side border">
                <div class="container-fluid">
                    <div class="row my-3 justify-content-between">

                        <div class="col-md-3">

                            <div>
                                <!--  Search Customer -->
                                <form id="search_form" th:action="@{/customer/search}" method="GET">
                                    <input type="text" name="searchName" placeholder=" Search customer">
                                </form>
                            </div>

                        </div>

                        <div class="col-md-4  text-right">
                            <!-- Add Customer Button -->
                            <a th:href="@{/customer/form}" class="btn btn-primary btn-sm">
                                Add Customer
                            </a>

                        </div>

                    </div>
                </div>

                <!-- Table -->
                <div class="table-responsive">
                    <table class="table table-striped">
                        <!-- Table header -->
                        <thead>
                            <tr>
                                <th>
                                    First Name
                                </th>
                                <th>
                                    Last Name
                                </th>
                                <th>
                                    Phone Number
                                </th>
                                <th>
                                    Address
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <!-- Table Body -->
                        <tbody>
                            <!-- Loop through customer list -->
                            <tr th:each=" customer : ${customerList}">
                                <td th:text="${customer.firstName}" />
                                <td th:text="${customer.lastName}" />
                                <td th:text="${customer.phoneNumber}" />
                                <td th:text="${customer.address}" />
                                <td>
                                    <!-- Pass id to url -->
                                    <a th:href="@{/customer/delete(id=${customer.id})}" class="btn btn-danger btn-sm text-white">Delete</a>
                                    <a th:href="@{/customer/update(id=${customer.id})}" class="btn btn-secondary btn-sm text-white">Edit</a>
                                </td>
                            </tr>


                        </tbody>

                    </table>

                </div>

            </div>
        </div>





    </div>



<script>
 
</script>


</body>

</html>