<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <title>Employee Form</title>
    </head>


    <body>
       

        <div class="container">

            <h3>Employee Form</h3>
            <hr/>

            <form th:action="@{/employees/save}" th:object="${employee}" method="POST">
                <input type="hidden" th:field="*{id}"/>
                <input type="text" th:field="*{firstName}" placeholder="First name" class="form-control mb-4 col-4">
                <input type="text" th:field="*{lastName}" placeholder="Last name" class="form-control mb-4 col-4">
                <input type="text" th:field="*{email}" placeholder="Email" class="form-control mb-4 col-4">
                <!-- Save Button -->
                <input type="submit" value="Save" class="btn btn-info col-2">


            </form>
            <hr/>
            <a th:href="@{/employees/list}">Back to List</a>


        </div>


    </body>
</html>